{% extends 'admin/layout.html.twig' %}

{% block content %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                        href="/admin/products" class="current">Products</a></div>
            <h1>Products</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                            <h5>Add New Product</h5>
                        </div>
                        <div class="widget-content">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                            <input type="submit" class="btn btn-success" value="Add Product" />
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
