{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                        href="/admin/products" class="current">Products</a></div>
            <h1>Users</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                            <h5>Show Product</h5>
                        </div>
                        <div class="widget-content">
                            <div class="controls controls-row">
                                <label class="control-label span6">Title</label>
                                <label class="control-label span6">{{ product.title  }}</label>
                            </div>
                            <div class="controls controls-row">
                                <label class="control-label span6">Description</label>
                                <label class="control-label span6">{{ product.description  }}</label>
                            </div>
                            <div class="controls controls-row">
                                <label class="control-label span6">Price</label>
                                <label class="control-label span6">{{ product.price  }}</label>
                            </div>
                            <div class="controls controls-row">
                                <label class="control-label span6">Created At</label>
                                <label class="control-label span6">{{ product.createdAt|date('Y-m-d H:i:s') }}</label>
                            </div>
                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
