{% block error_messages %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {% if ( label == 'success' ) %}
                <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                                href="#">×</a>
                    <h4 class="alert-heading">Success!</h4>
                    {{ flash }}
                </div>
            {% elseif ( label == 'error' ) %}
                <div class="alert alert-danger alert-block"><a class="close" data-dismiss="alert"
                                                               href="#">×</a>
                    <h4 class="alert-heading">Error!</h4>
                    {{ flash }}
                </div>
            {% elseif ( label == 'warning' ) %}
                <div class="alert alert-warning alert-block"><a class="close" data-dismiss="alert"
                                                                href="#">×</a>
                    <h4 class="alert-heading">Error!</h4>
                    {{ flash }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}